*, *:after, *:before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
ul, ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.App {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  min-height: 100vh;
}
header.App-header {
  padding: 15px;
  border-bottom: 1px solid #999;
  margin: 0 0 35px;
  background: #ffffff;
  color: #000;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
li {
  padding: 15px;
  border: 1px solid #999;
  margin: 0 0 25px;
  border-radius: 7px;
  background: #fff;
}
.post-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.8);
}
.close {
  position: absolute;
}
.post-body {
  height: 80%;
    display: flex;
    width: 90%;
    background: #fff;
    align-items: center;
    justify-content: center;
    padding: 20px;
    animation-name: post;
  animation-duration: 0.5s;
}
@keyframes post {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 19px;
  cursor: pointer;
}
button {
  background: #0471be;
  padding: 7px 15px;
  border: 1px solid #0471be;
  border-radius: 3px;
  margin: 17px 0 0;
  color: #fff;
  transition: 0.4s all ease;
  cursor: pointer;
}
button:hover {
  background: #fff;
  color:#0471be;
}
.search-form {
  margin: 0 0 15px;
  display: flex;
  justify-content: flex-end;
}
input[type="text"] {
  padding: 7px;
  width: 205px;
  border: 0;
  border-radius: 3px;
  outline: 0;
}